<!-- content -->
<div class="content container-fluid">
  <!-- content-center -->
  <div class="content-center">
	<h2>Area Restrita</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur amet enim cupiditate odit reprehenderit quo provident id quas dignissimos perspiciatis, officia, inventore ut exercitationem molestiae maiores hic? Quam, est, maiores.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur amet enim cupiditate odit reprehenderit quo provident id quas dignissimos perspiciatis, officia, inventore ut exercitationem molestiae maiores hic? Quam, est, maiores.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur amet enim cupiditate odit reprehenderit quo provident id quas dignissimos perspiciatis, officia, inventore ut exercitationem molestiae maiores hic? Quam, est, maiores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur amet enim cupiditate odit reprehenderit quo provident id quas dignissimos perspiciatis, officia, inventore ut exercitationem molestiae maiores hic? Quam, est, maiores.</p>
  </div>
  <!-- / content-center -->

</div>
<!-- / content -->